<html>
<head>
<title>AJ2 test-updatebase</title>
</head>
<body>
<table width="100%" border="1">
            <tr>
            <th>context</th>
            <th>update SQL</th>
        </tr> 

         <tr>
            <td>npc购买商品数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shopcopper';</td>         </tr> 

         <tr>
            <td>npc兑换商品数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shopexchange';</td>         </tr> 

         <tr>
            <td>技能升级信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='skillUpgrade';</td>         </tr> 

         <tr>
            <td>地图数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='map';</td>         </tr> 

         <tr>
            <td>怪物数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='monster';</td>         </tr> 

         <tr>
            <td>buff数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='buff';</td>         </tr> 

         <tr>
            <td>技能数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='skill';</td>         </tr> 

         <tr>
            <td>连斩数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='continuouSkill';</td>         </tr> 

         <tr>
            <td>挂机数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='onHoorConfig';</td>         </tr> 

         <tr>
            <td>采集物数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='caijiwu';</td>         </tr> 

         <tr>
            <td>坐骑数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horsemodel';</td>         </tr> 

         <tr>
            <td>坐骑特殊换装数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horseSpeHuanZhuang';</td>         </tr> 

         <tr>
            <td>坐骑技能等级数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horsesKillGrade';</td>         </tr> 

         <tr>
            <td>物品数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goodmodel';</td>         </tr> 

         <tr>
            <td>商城数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop';</td>         </tr> 

         <tr>
            <td>随即名字信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='RoleRandomName';</td>         </tr> 

         <tr>
            <td>任务数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='task';</td>         </tr> 

         <tr>
            <td>宝石数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='gem';</td>         </tr> 

         <tr>
            <td>boss数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='boss';</td>         </tr> 

         <tr>
            <td>行为数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='actionconfig';</td>         </tr> 

         <tr>
            <td>装备强化信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qianghua';</td>         </tr> 

         <tr>
            <td>任务条件信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='task_condition';</td>         </tr> 

         <tr>
            <td>任务奖励信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='taskreward';</td>         </tr> 

         <tr>
            <td>角色升级信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='rolegrade';</td>         </tr> 

         <tr>
            <td>武学境界数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='realm';</td>         </tr> 

         <tr>
            <td>副本数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceData';</td>         </tr> 

         <tr>
            <td>副本难度配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceDifficulty';</td>         </tr> 

         <tr>
            <td>等级礼包</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='grade_giftpack';</td>         </tr> 

         <tr>
            <td>系统功能开启</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='sys_function';</td>         </tr> 

         <tr>
            <td>目标提醒</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goal_remind';</td>         </tr> 

         <tr>
            <td>物品包</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goodspackge';</td>         </tr> 

         <tr>
            <td>怪物掉落</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='monster_lostgoods';</td>         </tr> 

         <tr>
            <td>坐骑等级信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horsegrade';</td>         </tr> 

         <tr>
            <td>活跃度</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='activity';</td>         </tr> 

         <tr>
            <td>服务器列表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='serverlist';</td>         </tr> 

         <tr>
            <td>客户端配置文件信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='gameConfig';</td>         </tr> 

         <tr>
            <td>双倍经验数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='doubleActivity';</td>         </tr> 

         <tr>
            <td>跨服服务器数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='acrossserver';</td>         </tr> 

         <tr>
            <td>副本怪物数据表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceMonster';</td>         </tr> 

         <tr>
            <td>悬赏怪物属性配置表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xs_monster';</td>         </tr> 

         <tr>
            <td>悬赏怪物几率配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xs_monster_jilv';</td>         </tr> 

         <tr>
            <td>积分商店</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop_jifen';</td>         </tr> 

         <tr>
            <td>帮派任务等级</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='faction_task_grade';</td>         </tr> 

         <tr>
            <td>经脉数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='channel';</td>         </tr> 

         <tr>
            <td>经脉穴位数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xuewei';</td>         </tr> 

         <tr>
            <td>7天豪礼数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='sevendays';</td>         </tr> 

         <tr>
            <td>练气数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='lianqi';</td>         </tr> 

         <tr>
            <td>武林挑战boss数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wltzMonster';</td>         </tr> 

         <tr>
            <td>武林盟主数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wulinmengzhu';</td>         </tr> 

         <tr>
            <td>独孤剑冢</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='dugujianzhong';</td>         </tr> 

         <tr>
            <td>装备佩戴位置的强化配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='position_qianghua';</td>         </tr> 

         <tr>
            <td>神符model</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenfu_model';</td>         </tr> 

         <tr>
            <td>江湖目标</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jianghu_goal';</td>         </tr> 

         <tr>
            <td>江湖绝学</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jianghu_juexue';</td>         </tr> 

         <tr>
            <td>结婚信物商店</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='weddingxinwu';</td>         </tr> 

         <tr>
            <td>帮旗位置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bangqi_position';</td>         </tr> 

         <tr>
            <td>副本特殊收益</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceIncome';</td>         </tr> 

         <tr>
            <td>装备制作配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='eqm_zhizuo';</td>         </tr> 

         <tr>
            <td>神符刷新配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenfuConfig';</td>         </tr> 

         <tr>
            <td>今日信息配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='todayInfo';</td>         </tr> 

         <tr>
            <td>装备位置宝石镶嵌信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='position_gem';</td>         </tr> 

         <tr>
            <td>屏蔽字</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='badword';</td>         </tr> 

         <tr>
            <td>后台参数设置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='backadminconfig';</td>         </tr> 

         <tr>
            <td>个人镖车配置信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='personal_biaoche';</td>         </tr> 

         <tr>
            <td>在线奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='onlineReward';</td>         </tr> 

         <tr>
            <td>场景技能模板数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='sceneskill';</td>         </tr> 

         <tr>
            <td>新悬赏怪物配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xs_monster_jilv_new';</td>         </tr> 

         <tr>
            <td>副本怪物刷新</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceRefresh';</td>         </tr> 

         <tr>
            <td>江湖日常</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jhrc';</td>         </tr> 

         <tr>
            <td>掉落脚本配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='configscript';</td>         </tr> 

         <tr>
            <td>充值ip列表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ajrechargeiplist';</td>         </tr> 

         <tr>
            <td>限时活动类别数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xsactivity';</td>         </tr> 

         <tr>
            <td>限时活动列表数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xsactvityrewarditem';</td>         </tr> 

         <tr>
            <td>冲级奖励数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='upgradereward';</td>         </tr> 

         <tr>
            <td>正邪大战数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zxdz';</td>         </tr> 

         <tr>
            <td>通用型礼包</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='comm_giftpack';</td>         </tr> 

         <tr>
            <td>行侠数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xingxia';</td>         </tr> 

         <tr>
            <td>闭关数据i信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='biguan';</td>         </tr> 

         <tr>
            <td>绝学升级表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jueXueSkillUpgrade';</td>         </tr> 

         <tr>
            <td>激活码</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='activationCard';</td>         </tr> 

         <tr>
            <td>内功数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='neigong';</td>         </tr> 

         <tr>
            <td>后台管理ip</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='manageip';</td>         </tr> 

         <tr>
            <td>vip信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='vip';</td>         </tr> 

         <tr>
            <td>活动面板</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='PanelDate';</td>         </tr> 

         <tr>
            <td>兑换密钥</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='rechargeKey';</td>         </tr> 

         <tr>
            <td>武魂信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wuhun';</td>         </tr> 

         <tr>
            <td>神兵model</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='t_shenbing_model';</td>         </tr> 

         <tr>
            <td>神兵镶嵌位model</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='t_shenb_xq_wz';</td>         </tr> 

         <tr>
            <td>新七天豪礼</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='sevenNewdays';</td>         </tr> 

         <tr>
            <td>物品加成</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goodJiaCheng';</td>         </tr> 

         <tr>
            <td>限时活动</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xsactivityReal';</td>         </tr> 

         <tr>
            <td>限时活动项目</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xsactvityrewarditemReal';</td>         </tr> 

         <tr>
            <td>神兵战纹属性</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='t_shenbing_zhanwen';</td>         </tr> 

         <tr>
            <td>圣诞老人神秘商城</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop_shenmi';</td>         </tr> 

         <tr>
            <td>特殊宝箱(比如砸金蛋)</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='special_gift';</td>         </tr> 

         <tr>
            <td>坐骑宝石</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horseGem';</td>         </tr> 

         <tr>
            <td>帮派boss</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='faction_boss';</td>         </tr> 

         <tr>
            <td>五彩神石</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenshi';</td>         </tr> 

         <tr>
            <td>技能消耗数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='skillConsume';</td>         </tr> 

         <tr>
            <td>神石合成</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenshi_comp';</td>         </tr> 

         <tr>
            <td>神石分解</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenshi_fenjie';</td>         </tr> 

         <tr>
            <td>七星阵配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qixingConfig';</td>         </tr> 

         <tr>
            <td>七星奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qixingReward';</td>         </tr> 

         <tr>
            <td>360礼包</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='gift360';</td>         </tr> 

         <tr>
            <td>战魂物品信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanHunGoodmodel';</td>         </tr> 

         <tr>
            <td>战魂npc信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanHunNpc';</td>         </tr> 

         <tr>
            <td>战魂商城</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop_zhanhun';</td>         </tr> 

         <tr>
            <td>符石合成</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fushihecheng';</td>         </tr> 

         <tr>
            <td>天赋信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='tianfu';</td>         </tr> 

         <tr>
            <td>风云石数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fengyunshihecheng';</td>         </tr> 

         <tr>
            <td>脚本程序 </td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='gamescript';</td>         </tr> 

         <tr>
            <td>龙魂宝藏活动类型</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='baoxiang_ac_type';</td>         </tr> 

         <tr>
            <td>风物志</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fengwuzhi';</td>         </tr> 

         <tr>
            <td>风物志收集条件</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fengwuzhiCondition';</td>         </tr> 

         <tr>
            <td>称号数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='chenghao';</td>         </tr> 

         <tr>
            <td>360特权礼包</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='Tequan360';</td>         </tr> 

         <tr>
            <td>持续奖励数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='continuereward';</td>         </tr> 

         <tr>
            <td>武魂镶嵌</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wuhunxq';</td>         </tr> 

         <tr>
            <td>风云石切换</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fengyunshiConvert';</td>         </tr> 

         <tr>
            <td>活动转换配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='actConvert';</td>         </tr> 

         <tr>
            <td>持续优惠</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='continueDiscount';</td>         </tr> 

         <tr>
            <td>持续优惠项目</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='continueDiscountItem';</td>         </tr> 

         <tr>
            <td>弓箭信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bow';</td>         </tr> 

         <tr>
            <td>弓箭箭矢</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bowJianShi';</td>         </tr> 

         <tr>
            <td>箭矢合成</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jianshi_hecheng';</td>         </tr> 

         <tr>
            <td>婚宴限制</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='weddingFeastLimit';</td>         </tr> 

         <tr>
            <td>婚宴坐标配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='weddingFeastPosition';</td>         </tr> 

         <tr>
            <td>婚宴数据配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='weddingfeast';</td>         </tr> 

         <tr>
            <td>比武大会公告</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='biwudahuigonggao';</td>         </tr> 

         <tr>
            <td>比武大会进度时间</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='biwudahuijindutime';</td>         </tr> 

         <tr>
            <td>比武大会奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='biwudahuireward';</td>         </tr> 

         <tr>
            <td>首充</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='dayReward';</td>         </tr> 

         <tr>
            <td>进阶</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ModelJinjie';</td>         </tr> 

         <tr>
            <td>坐骑换装</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horsehuanzhuang';</td>         </tr> 

         <tr>
            <td>婚宴经验获得上限配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='weddingFeastExpMax';</td>         </tr> 

         <tr>
            <td>战魂转换</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanhunConvert';</td>         </tr> 

         <tr>
            <td>祝福</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goodzhufu';</td>         </tr> 

         <tr>
            <td>幸运奖池</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='luckyJackpot';</td>         </tr> 

         <tr>
            <td>比武大会助威</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='biwudahuizhuwei';</td>         </tr> 

         <tr>
            <td>合成返还</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='compReturn';</td>         </tr> 

         <tr>
            <td>血魄系统数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xuepo';</td>         </tr> 

         <tr>
            <td>满汉全席奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='mhqxReward';</td>         </tr> 

         <tr>
            <td>满汉全席配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='mhqxConfig';</td>         </tr> 

         <tr>
            <td>坐骑幻化</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horsehuanhua';</td>         </tr> 

         <tr>
            <td>精彩活动公告</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='activenotice';</td>         </tr> 

         <tr>
            <td>开启面板信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='openNotice';</td>         </tr> 

         <tr>
            <td>消耗返还</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fanhuan';</td>         </tr> 

         <tr>
            <td>圣兽幻化</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shengshouhuanhua';</td>         </tr> 

         <tr>
            <td>圣兽图腾</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shengshoututeng';</td>         </tr> 

         <tr>
            <td>皇城争霸</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='hczbData';</td>         </tr> 

         <tr>
            <td>新模块进阶</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ModelJinJieNew';</td>         </tr> 

         <tr>
            <td>皇城争霸奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='hczbRankReward';</td>         </tr> 

         <tr>
            <td>幻兽进阶数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='huanshoujinjie';</td>         </tr> 

         <tr>
            <td>幻兽数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='huanshou';</td>         </tr> 

         <tr>
            <td>首充新</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='dayRewardNew';</td>         </tr> 

         <tr>
            <td>翅膀数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wing';</td>         </tr> 

         <tr>
            <td>跨平台跨服</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='acrossserver_kpt';</td>         </tr> 

         <tr>
            <td>阵法</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhenfa';</td>         </tr> 

         <tr>
            <td>合阵</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='hezhen';</td>         </tr> 

         <tr>
            <td>平台</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='Dept';</td>         </tr> 

         <tr>
            <td>跨平台比武大会赛事说明</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='KptBiwudahuiGonggao';</td>         </tr> 

         <tr>
            <td>跨平台比武大会进度时间</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='KptBiwudahuiJinduTime';</td>         </tr> 

         <tr>
            <td>跨平台比武大会奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='KptBiwudahuiReward';</td>         </tr> 

         <tr>
            <td>跨平台比武大会助威</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='kptbiwuzhuwei';</td>         </tr> 

         <tr>
            <td>物品系统激活</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goodsysjihuo';</td>         </tr> 

         <tr>
            <td>迅雷特权条目数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xunleitequan';</td>         </tr> 

         <tr>
            <td>迅雷特权礼包数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xunleitequanitem';</td>         </tr> 

         <tr>
            <td>跨服33排行奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='across3v3rank_reward';</td>         </tr> 

         <tr>
            <td>荣誉商店</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop_honor';</td>         </tr> 

         <tr>
            <td>官职数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='guanzhi';</td>         </tr> 

         <tr>
            <td>官印数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='guanyin';</td>         </tr> 

         <tr>
            <td>五行修炼进阶信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wxxljinjie';</td>         </tr> 

         <tr>
            <td>帮派夺宝</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bpdb';</td>         </tr> 

         <tr>
            <td>帮派夺宝排行奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bpdbRankReward';</td>         </tr> 

         <tr>
            <td>种植数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhongzhi';</td>         </tr> 

         <tr>
            <td>五行修炼等级信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='wxxl';</td>         </tr> 

         <tr>
            <td>试练</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceshilianreward';</td>         </tr> 

         <tr>
            <td>百度会员奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='BaiduVipItem';</td>         </tr> 

         <tr>
            <td>百度会员</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='BaiduVip';</td>         </tr> 

         <tr>
            <td>客户端配置信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='clientProperties';</td>         </tr> 

         <tr>
            <td>战魂的天魂属性</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanhun_tianhun';</td>         </tr> 

         <tr>
            <td>3v3跨服(跨平台)</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='acrossserverkpt3v3';</td>         </tr> 

         <tr>
            <td>易容术等级信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='yrsstar';</td>         </tr> 

         <tr>
            <td>易容术信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='yirongshu';</td>         </tr> 

         <tr>
            <td>易容术进阶信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='yrsjj';</td>         </tr> 

         <tr>
            <td>境界信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jingjie';</td>         </tr> 

         <tr>
            <td>平台礼包数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='deptreward';</td>         </tr> 

         <tr>
            <td>附魔</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='position_fumo';</td>         </tr> 

         <tr>
            <td>星运强化</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xingyunqianghua';</td>         </tr> 

         <tr>
            <td>星运</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xingyun';</td>         </tr> 

         <tr>
            <td>充值福利奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ChongzhiFuliItem';</td>         </tr> 

         <tr>
            <td>充值福利</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ChongzhiFuli';</td>         </tr> 

         <tr>
            <td>坐骑进阶数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horsejinjie';</td>         </tr> 

         <tr>
            <td>战兽</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanshou';</td>         </tr> 

         <tr>
            <td>战兽培养</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanshoupeiyang';</td>         </tr> 

         <tr>
            <td>帮派争霸数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bpzb';</td>         </tr> 

         <tr>
            <td>帮派争霸进度</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bpzbProgress';</td>         </tr> 

         <tr>
            <td>帮派争霸奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bpzbReward';</td>         </tr> 

         <tr>
            <td>经脉穴位信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jingmai';</td>         </tr> 

         <tr>
            <td>经脉根骨信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='gengu';</td>         </tr> 

         <tr>
            <td>战兽的幻兽</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ZhanshouHuanshou';</td>         </tr> 

         <tr>
            <td>战兽的幻兽进阶</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ZhanshouHuanshouJinjie';</td>         </tr> 

         <tr>
            <td>战兽的换装等</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ZhanshouHuanZhuang';</td>         </tr> 

         <tr>
            <td>生效和拓印套装属性</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='position_shengxiao';</td>         </tr> 

         <tr>
            <td>幸运转盘pannel信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='lucklypannel';</td>         </tr> 

         <tr>
            <td>物品加成new</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='goodJiaChengNew';</td>         </tr> 

         <tr>
            <td>3v3匹配规则</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='p3v3pipei';</td>         </tr> 

         <tr>
            <td>战兽根骨配置信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhanshou_gengu';</td>         </tr> 

         <tr>
            <td>帮派争霸服务器</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='acrossServerBPZB';</td>         </tr> 

         <tr>
            <td>永久活动</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='activityReal';</td>         </tr> 

         <tr>
            <td>真龙宝藏</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zhenlong';</td>         </tr> 

         <tr>
            <td>永久活动项目</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='actvityitemReal';</td>         </tr> 

         <tr>
            <td>世界杯结果</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='WorldCupResult';</td>         </tr> 

         <tr>
            <td>世界杯</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='worldcup';</td>         </tr> 

         <tr>
            <td>系统预告</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='sysforecast';</td>         </tr> 

         <tr>
            <td>星宿</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xingxiu';</td>         </tr> 

         <tr>
            <td>星宿合成</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='xingxiuhecheng';</td>         </tr> 

         <tr>
            <td>每日签到奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qiandao';</td>         </tr> 

         <tr>
            <td>功勋抽奖</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='gongxun';</td>         </tr> 

         <tr>
            <td>展示奖品</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='showreward';</td>         </tr> 

         <tr>
            <td>跨服竞技场</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='AcrossServerKptJingji';</td>         </tr> 

         <tr>
            <td>邮件</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='mail';</td>         </tr> 

         <tr>
            <td>一些不一样的奖品</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='special_reward';</td>         </tr> 

         <tr>
            <td>平台活动</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='deptAct';</td>         </tr> 

         <tr>
            <td>道具属性</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='GoodsProperty';</td>         </tr> 

         <tr>
            <td>瑞兽模型</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='RuiShouModel';</td>         </tr> 

         <tr>
            <td>瑞兽培养模型</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='RuiShouModelPeiYang';</td>         </tr> 

         <tr>
            <td>祈福奖品</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='QiFuReward';</td>         </tr> 

         <tr>
            <td>瑞兽奖品列表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ruishou_reward_show';</td>         </tr> 

         <tr>
            <td>贵族vip</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='guizuVIP';</td>         </tr> 

         <tr>
            <td>特殊属性</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='SpecialProperty';</td>         </tr> 

         <tr>
            <td>瑞兽祈福</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ruishou_qifu_reward';</td>         </tr> 

         <tr>
            <td>显示功能</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='viewFuc';</td>         </tr> 

         <tr>
            <td>门派挑战数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='menpaitiaozhan';</td>         </tr> 

         <tr>
            <td>门派挑战宝物数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='menpaibaowu';</td>         </tr> 

         <tr>
            <td>副本怪物公式数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='instanceFormula';</td>         </tr> 

         <tr>
            <td>定时发奖品</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='TimerGoodGift';</td>         </tr> 

         <tr>
            <td>跨服竞技场</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='AcrossServerKptFuqiJingji';</td>         </tr> 

         <tr>
            <td>守卫副本怪物</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='defenceMonster';</td>         </tr> 

         <tr>
            <td>守卫副本提醒</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='defenceRemind';</td>         </tr> 

         <tr>
            <td>守卫副本配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='defenceConfig';</td>         </tr> 

         <tr>
            <td>33购买次数</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='Buy3V3Consume';</td>         </tr> 

         <tr>
            <td>活动buff</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='YbkBuff';</td>         </tr> 

         <tr>
            <td>夫妻竞技商店</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop_fuqi';</td>         </tr> 

         <tr>
            <td>坐骑灵化数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='horselinghua';</td>         </tr> 

         <tr>
            <td>天天寻宝页面配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='choujiangConfig';</td>         </tr> 

         <tr>
            <td>神兵传承表</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenbing_chuancheng';</td>         </tr> 

         <tr>
            <td>天天寻宝奖池配置</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='choujiangData';</td>         </tr> 

         <tr>
            <td>化境闭关</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='RetreatRoomModel';</td>         </tr> 

         <tr>
            <td>圣技升级信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shengji_upgrade';</td>         </tr> 

         <tr>
            <td>圣技学习信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shengji_learn';</td>         </tr> 

         <tr>
            <td>活动随机奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='actRandom';</td>         </tr> 

         <tr>
            <td>圣技关联技能信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shengji_guanlian_skill';</td>         </tr> 

         <tr>
            <td>精灵</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jingling';</td>         </tr> 

         <tr>
            <td>精灵培养</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jinglingpeiyang';</td>         </tr> 

         <tr>
            <td>精灵研习</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jinglingyanxi';</td>         </tr> 

         <tr>
            <td>气海</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qihaimodel';</td>         </tr> 

         <tr>
            <td>气海修炼</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qihaixiulian';</td>         </tr> 

         <tr>
            <td>海斗士</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='haidoushimodel';</td>         </tr> 

         <tr>
            <td>傲剑争霸</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='AcrossServerAjzb';</td>         </tr> 

         <tr>
            <td>装备铭刻</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='mingke';</td>         </tr> 

         <tr>
            <td>傲剑争霸傲剑合成</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ajzbequippositionmodel';</td>         </tr> 

         <tr>
            <td>傲剑争霸傲剑</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ajzbequipmodel';</td>         </tr> 

         <tr>
            <td>兵法进阶数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bingfa_jinjie';</td>         </tr> 

         <tr>
            <td>兵法修炼数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bingfa_xiulian';</td>         </tr> 

         <tr>
            <td>傲剑争霸时间</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='AjzhengbaTime';</td>         </tr> 

         <tr>
            <td>傲剑争霸奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='AjzhengbaReward';</td>         </tr> 

         <tr>
            <td>化境金身</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='hjjinshen';</td>         </tr> 

         <tr>
            <td>元素类型数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='elementType';</td>         </tr> 

         <tr>
            <td>元素模型数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='elementModel';</td>         </tr> 

         <tr>
            <td>元素升级触发效果</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='elementEffect';</td>         </tr> 

         <tr>
            <td>精灵幻化</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='JingLingHuanHua';</td>         </tr> 

         <tr>
            <td>精灵换装</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jinglinghuanzhuang';</td>         </tr> 

         <tr>
            <td>附加属性</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='fujia';</td>         </tr> 

         <tr>
            <td>每日在线福利</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='DayRewardOnline';</td>         </tr> 

         <tr>
            <td>黑木崖</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='heimuya';</td>         </tr> 

         <tr>
            <td>消耗道具商店</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shop_consume_goods';</td>         </tr> 

         <tr>
            <td>化境七星系统</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qixing';</td>         </tr> 

         <tr>
            <td>化境七星加成数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='qixing_effect';</td>         </tr> 

         <tr>
            <td>紫薇数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='ziwei';</td>         </tr> 

         <tr>
            <td>各种兑换</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='collect_ac';</td>         </tr> 

         <tr>
            <td>服务器计数奖励</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='server_reward';</td>         </tr> 

         <tr>
            <td>八门进阶数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bamenJinjie';</td>         </tr> 

         <tr>
            <td>八门数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bamenModel';</td>         </tr> 

         <tr>
            <td>十二星宫进阶信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='aj2star12jinjie';</td>         </tr> 

         <tr>
            <td>十二星宫修炼信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='aj2star12xiulian';</td>         </tr> 

         <tr>
            <td>弓箭幻化信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='BowHuanHua';</td>         </tr> 

         <tr>
            <td>化境坐骑信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='HorseHJHuanHua';</td>         </tr> 

         <tr>
            <td>弓箭换装信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='bowHuanZhuang';</td>         </tr> 

         <tr>
            <td>紫府修炼</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zifuxiulian';</td>         </tr> 

         <tr>
            <td>紫府进阶</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='zifu';</td>         </tr> 

         <tr>
            <td>九夜明珠进阶数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jiuyemzJinjie';</td>         </tr> 

         <tr>
            <td>九夜明珠数据</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='jiuyemzModel';</td>         </tr> 

         <tr>
            <td>buff祈福</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='buff_qifu';</td>         </tr> 

         <tr>
            <td>钥匙宝箱</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='keyBaoxiangData';</td>         </tr> 

         <tr>
            <td>神魔数据信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='shenmo';</td>         </tr> 

         <tr>
            <td>转盘信息</td>            <td align="left">UPDATE dbcachelist SET version=version+1  where cachename='baoxiang_lucky';</td>         </tr> 
</table> 
 </body>
</html>